{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Boleta de Calificaciones
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}

  <div class="card">
      <div class="card-header">
          <h1>Boleta Calificaciones</h1>
      </div>
      <div class="card-body">
              <table class="table table-hover text-center">
                      <thead>
                        <tr>
                          
                          <th scope="col">Materia</th>
                          <th scope="col">Parcial 1</th>
                          <th scope="col">Parcial 2</th>
                          <th scope="col">Pacial 3</th>
                          <th scope="col">Final</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="text-center">
                          
                          <td>Física</td>
                          <td>95</td>
                          <td>85</td>
                          <td>80</td>
                          <td>87</td>
                          
                        </tr>
                        <tr>
                            
                              <td>Química</td>
                              <td>93</td>
                              <td class="bg-danger">60</td>
                              <td>85</td>
                              <td class="bg-danger">25</td>
                           
                          </tr>
                          
                        <tr>
                              <td>Matemáticas</td>
                              <td>85</td>
                              <td>100</td>
                              <td>85</td>
                              <td>90</td>
                          
                        </tr>
                        <tr>
                              <td>Inglés</td>
                              <td>100</td>
                              <td>100</td>
                              <td>100</td>
                              <td>100</td>
                          
                          
                        </tr>
                        <tr>
                              <td>Historia</td>
                              <td>85</td>
                              <td>90</td>
                              <td>92</td>
                              <td>95</td>
                          
                          
                        </tr>
                        <tr>
                              <td>Español</td>
                              <td>100</td>
                              <td>100</td>
                              <td>100</td>
                              <td>100</td>
                          
                          
                        </tr>
                      </tbody>
                    </table>
      </div>
  </div>


{% endblock %}

{% block scripts %}

{% endblock %}