{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Calendario Escolar
{% endblock %}

{% block styles %}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'calendar/css/calendar.css' %}">

{% endblock %}

{% block content %}


  {% include 'messages.html' %}
  <h1>Calendario Escolar</h1>
  <div id="calendar"></div>




{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="{% static '/calendar/js/calendar.js' %}"></script>
<script>
calendar = new CalendarYvv("#calendar", moment().format("Y-M-D"), "Monday");
calendar.createCalendar();

</script>
{% endblock %}