{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Editar Profesor
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}

  <form method="POST" action="{% url 'editar_profesor' %}">
        {% csrf_token %}
     {{ form | bootstrap }}
     
     <button class="btn btn-primary" type="submit">Registrar</button>
     
     </form>

{% endblock %}

{% block scripts %}

{% endblock %}