{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Editar Padre
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}

  <form method="POST" action="{% url 'editar_padre' %}">
        {% csrf_token %}
     {{ form | bootstrap }}
     <input type="hidden" name="id_padre" value="{{padre.id_padre}}">
     <button class="btn btn-primary" type="submit">Registrar</button>
     
     </form>

{% endblock %}

{% block scripts %}

{% endblock %}