{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Editar Alumno
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}

  <form method="POST" action="{% url 'editar_alumno' %}">
        {% csrf_token %}
     {{ form | bootstrap }}
     <input type="hidden" name="id_alumno" value="{{ alumno.id_alumno }}">
     
     <button class="btn btn-primary" type="submit">Registrar</button>
     
     </form>

{% endblock %}

{% block scripts %}

{% endblock %}