{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Crear Grupo
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'calendar/css/calendar.css' %}">

<style>

</style>

{% endblock %}

{% block content %}

        <!-- Modal -->
        <div class="modal modal-lg fade" id="reporteModal" tabindex="-999999" role="dialog" aria-labelledby="reporteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="reporteModalLabel">Reporte</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                                <label for="motivo">Motivo del reporte:</label>
                                <select class="custom-select" id="motivo">
                                        <option selected>Choose...</option>
                                        <option value="1">Conducta Inapropiada</option>
                                        <option value="2">Bullying</option>
                                        <option value="3">Otro</option>
                                      </select>
                       <label for="descripcion_reporte">Descripción</label>
                      <input type="text" class="form-control" id="descripcion_reporte">
                      <label for="observaciones_reporte">Observaciones</label>
                      <input type="text" class="form-control" id="observaciones_reporte">

                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal" >Guardar y enviar</button>
                    </div>
                  </div>
                </div>
              </div>


  {% include 'messages.html' %}
  <h1>Grupo {{ grupo.id_grupo }}</h1>
  
<div class="card mb-5">
    <div class="card-header">
        Horario
    </div>
    <div class="card-body">

    
  <table class="table text-center table-hover">
        <thead>
            <tr>
          
          <th scope="col">Materia</th>
          <th scope="col">Hora</th>
          <th scope="col">Profesor</th>
              </tr>
      </thead>
      <tbody>
          {% for reg in horario %}
          <tr>
              <td>{{ reg.materia}}</td>
              <td>{{ reg.dia_hora }} </td>
              <td>{{ reg.profesor }}</td>

              
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>
</div>

<div class="card mb-5">
        <div class="card-header">
            Lista Asistencia/Participacion
        </div>
        <div class="card-body">
    
        
      <table class="table text-center table-hover">
            <thead>
                <tr>
              
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Asistencia</th>
              <th scope="col">Calificacion</th>
              <th scope="col">Reportar</th>
              
                  </tr>
          </thead>
          <tbody>
              {% for alumno in alumnos %}
              <tr>
                  <td>{{ alumno.profile.nombre }}</td>
                  <td>{{ alumno.profile.ap_pat }} {{ alumno.profile.ap_mat }} </td>
                  <td><input type="checkbox"></td>
                  <td><input type="textbox"></td>
                  <td><button class="btn btn-warning" data-toggle="modal" data-target="#reporteModal"><i class="fa fa-exclamation"></i></button></td>
                
                  
              </tr>
              {% endfor %}

              
          </tbody>
          
              
          
        </table>
        <button class="btn btn-primary">Guardar Cambios</button>
    </div>
    </div>



    <div class="card mb-5">
        <div class="card-header">
            Lista Tareas
        </div>
        <div class="card-body">
    
        
      <table class="table text-center table-hover">
            <thead>
                <tr>
                <th scope="col">Materia</th>
              <th scope="col">Tarea</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Ponderacion</th>
              <th scope="col">Fecha Entrega</th>
              
              
                  </tr>
          </thead>
          <tbody>
              {% for alumno in alumnos %}
              <tr>
                  <td>Matematicas</td>
                  <td>Ejercicios 1-100</td>
                  <td><input type="checkbox"></td>
                  <td>20%</td>
                  <td>En 2 Semanas - 8 de Junio del 2019</td>

                  
              </tr>
              {% endfor %}

              
          </tbody>
          
              
          
        </table>
        <button class="btn btn-primary">Agregar Tarea</button>
    </div>
    </div>

    <div class="card mb-5">
        <div class="card-header">
            Guias de Estudio
        </div>
        <div class="card-body">
    
        
      <table class="table text-center table-hover">
            <thead>
                <tr>
                <th scope="col">Materia</th>
              <th scope="col">Guia</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Eliminar</th>
              
                  </tr>
          </thead>
          <tbody>
              {% for alumno in alumnos %}
              <tr>
                  <td>Matematicas</td>
                  <td>Ejercicios 1-5</td>
                  <td>Vacio</td>
                  <td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>

                  
              </tr>
              {% endfor %}

              
          </tbody>
          
              
          
        </table>
        <button class="btn btn-primary">Agregar Guia de Estudio</button>
    </div>
    </div>


{% endblock %}

{% block scripts %}



{% endblock %}