{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Inicio
{% endblock %}

{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" rel="stylesheet" />
{% endblock %}

{% block content %}


  {% include 'messages.html' %}
<div class="row">
  <div class="col">
  <div class="card">
    <div class="card-header">
      Mis Tareas
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
              <tr>
                
                <th scope="col">Tarea</th>
                <th scope="col">Materia</th>
                <th scope="col">Fecha Entrega</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <th scope="row">Investigación Compuestos Alcanos</th>
                <td>Química</td>
                <td>En 1 semana</td>
                <td>Pendiente</td>
              </tr>
              <tr >
                  
                  <th scope="row">Invetigación sobre Compuestos Aromáticos</th>
                  <td>Química</td>
                  <td>En 1 semana</td>
                  <td>Pendiente</td>
                </tr>
                
              <tr class="table-success">
                <th scope="row">15 Ejemplos de Física Aplicada</th>
                <td>Física</td>
                <td>En 5 Dias</td>
                <td>Entregado</td>
              </tr>
              <tr class="table-danger">
                <th scope="row">Ejercicios 1-50</th>
                <td>Matemáticas</td>
                <td>Ayer</td>
                <td>Pendiente</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>

<div class="col">
    <div class="card">
      <div class="card-header">
        Calificaciones Recientes
      </div>
      <div class="card-body">
          <table class="table table-hover">
              <thead>
                <tr>
                  
                  <th scope="col">Materia</th>
                  <th scope="col">Actividad</th>
                  <th scope="col">Calificación</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  
                  <th scope="row">Tarea 1</th>
                  <td>Química</td>
                  <td>100</td>
                  
                </tr>
                <tr class="table-danger">
                    
                    <th scope="row">Tarea 5</th>
                    <td>Química</td>
                    <td>65</td>
                   
                  </tr>
                  
                <tr>
                  <th scope="row">Actividad en Clase 5</th>
                  <td>Física</td>
                  <td>90.5</td>
                  
                </tr>
                <tr>
                  <th scope="row">Tarea 3</th>
                  <td>Matemáticas</td>
                  <td>85.5</td>
                  
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Mi Desempeño
      </div>
      <div class="card-body">
          <canvas id="cht_diario_1" width="150" height="150"></canvas>
      </div>
    </div>
  </div>
  <div class="col">

  </div>
</div>




{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

<script>
var ctx_d1 = document.getElementById('cht_diario_1');

function random_rgba() {
    var o = Math.round, r = Math.random, s = 255;
    return 'rgba(' + o(r() * s) + ',' + o(r() * s) + ',' + o(r() * s) + ',' + r().toFixed(1) + ')';
}

Array.from({ length: 40 }, () => random_rgba());

var chart1 = new Chart(ctx_d1, {
    type: 'line',
    data: {
        labels: ['Semana 1', 'Semana 2', 'Semana 3', 'Semana 4', 'Semana 5', 'Semana 6'],
        datasets: [{
            label: 'Calificaciones',
            data: Array.from({ length: 6 }, () => Math.floor(Math.random() * 100)),
            backgroundColor: Array.from({ length: 6 }, () => random_rgba()),
            borderColor: Array.from({ length: 6 }, () => random_rgba()),
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


</script>
{% endblock %}