{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Calificaciones de: X Materia
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}

<div class="card">
    <div class="card-header">
        <button class="btn btn-primary">Cuadricula</button>
        <button class="btn btn-primary">Lista</button>
    </div>
    <div class="card-body">
            <table class="table table-hover text-center">
                    <thead>
                      <tr>
                        
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miercoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        
                        <td></td>
                        <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                        <td></td>
                        <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                        <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                        
                      </tr>
                      <tr>
                          
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                         
                        </tr>
                        
                      <tr>
                            <td>Química<br><span class="text-center">7:00-9:00</span></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                            <td></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                        
                      </tr>
                      <tr>
                            <td>Química<br><span class="text-center">7:00-9:00</span></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                            <td></td>
                            <td></td>
                        
                        
                      </tr>
                      <tr>
                            <td>Química<br><span class="text-center">7:00-9:00</span></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                            <td></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                        
                        
                      </tr>
                      <tr>
                            <td>Química<br><span class="text-center">7:00-9:00</span></td>
                            <td></td>
                            <td></td>
                            <td>Fisica<br><span class="text-center">7:00-9:00</span></td>
                            <td></td>
                        
                        
                      </tr>
                    </tbody>
                  </table>
    </div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}