{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Lista Padres
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}
  <table class="table text-center table-hover">
      <thead>
          <tr>
        
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Username</th>
        <th scope="col">Hijos</th>
        <th scope="col">Rol Tutor</th>
        <th scope="col">acciones</th>
            </tr>
    </thead>
    <tbody>
        {% for padre in padres %}
        <tr>
            <td>{{ padre.profile.nombre }}</td>
            <td>{{ padre.profile.ap_pat }} {{ padre.profile.ap_mat }}</td>
            <td>{{ padre.profile.username }}</td>
            <td><ul>{% for hijo in padre.hijos.all %} <li>{{ hijo.profile.nombre }} {{hijo.profile.ap_pat}} {{ hijo.profile.ap_mat }}</li> {% endfor %}</ul></td>
            <td>{{ padre.rol_tutor }}</td>
            <td>


            <form action = "." method="GET">
                    <input type="hidden" name="id_padre" value="{{ padre.id_padre }}">
                    <button class="btn btn-success" formaction="{% url 'editar_padre' %}"><i class="fa fa-pen"></i></button>
                
            </form>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
  </table>



{% endblock %}

{% block scripts %}

{% endblock %}