{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Lista Profesores
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}
  <table class="table text-center table-hover">
      <thead>
          <tr>
        
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Username</th>
        <th scope="col">acciones</th>
            </tr>
    </thead>
    <tbody>
        {% for profesor in profesores %}
        <tr>
            <td>{{ profesor.profile.nombre }}</td>
            <td>{{ profesor.profile.ap_pat }} {{ profesor.profile.ap_mat }}</td>
            <td>{{ profesor.profile.username }}</td>
            
        
            <td>
                <div class="container d-flex justify-content-center">

            <form action = "." method="GET">
                    <input type="hidden" name="id_profesor" value="{{ profesor.id_profesor }}">
                    <button class="btn btn-success" formaction="{% url 'editar_profesor' %}"><i class="fa fa-pen"></i></button>
                
            </form>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
  </table>



{% endblock %}

{% block scripts %}

{% endblock %}