{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Lista Horarios
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}
  <table class="table">
      <thead>
          <tr>
        <th scope="col">Hora</th>
        <th scope="col">Materia</th>
        <th scope="col">Profesor</th>
        <th scope="col">Grupo</th>
            </tr>
    </thead>
    <tbody>
        {% for horario in horarios %}
        <tr>
            <td>{{ horario.dia_hora }}</td>
            <td>{{ horario.materia }}</td>
            <td>{{ horario.profesor }}</td>
            <td>{{ horario.grupo }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>



{% endblock %}

{% block scripts %}

{% endblock %}