{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Lista Grupos
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}
  <table class="table text-center table-hover">
      <thead>
          <tr>
        <th scope="col">Grupo</th>
        <th scope="col">acciones</th>
            </tr>
    </thead>
    <tbody>
        {% for grupo in grupos %}
        <tr>
            <td>{{ grupo.id_grupo }}</td>
            <td>
                <div class="container d-flex justify-content-center">
                <form action = "." method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id_grupo" value="{{ grupo.id_grupo }}">
                    <button class="btn btn-danger ml-2" formaction="{% url 'eliminar_grupo' %}"><i class="fa fa-trash"></i></button>
                
                
            </form>
            <form action = "." method="GET">
                
                    <input type="hidden" name="id_grupo" value="{{ grupo.id_grupo }}">
                    <button class="btn btn-success ml-2" formaction="{% url 'editar_grupo' grupo.id_grupo %}"><i class="fa fa-pen"></i></button>
                    <button class="btn btn-success ml-1" formaction="{% url 'detalle_grupo' grupo.id_grupo %}"><i class="fa fa-info"></i></button>
                
            </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>



{% endblock %}

{% block scripts %}

{% endblock %}