{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Química
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}

  <table class="table text-center table-hover">
      <thead>
          <tr>
        <th scope="col">Id Materia</th>
        <th scope="col">Nombre Materia</th>
        <th scope="col">acciones</th>
            </tr>
    </thead>
    <tbody>
        {% for materia in materias %}
        <tr>
            <td>{{ materia.id_materia }}</td>
            <td>{{ materia.nombre }}</td>
            <td>
                <div class="container d-flex justify-content-center">
                <form action = "." method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="id_materia" value="{{ materia.id_materia }}">
                    <button class="btn btn-danger" formaction="{% url 'eliminar_materia' %}"><i class="fa fa-trash"></i></button>
                
                
            </form>
            <form action = "." method="GET">
                    <input type="hidden" name="id_materia" value="{{ materia.id_materia }}">
                    <button class="btn btn-success" formaction="#"><i class="fa fa-pen"></i></button>
                
            </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>


{% endblock %}

{% block scripts %}

{% endblock %}