{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <ul>
      

        {% for error in form.non_field_errors %}

        <li>{{ error|escape }}</li>

        {% endfor %}
        {% for error,message in form.errors.items %}
        <li>Error en campo: {{ error|escape }} {{ message|escape }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if messages %}


      {% for message in messages %}
      {% if message.tags == 'warning' %}
      <div class="alert alert-warning alert-dismissible fade show align-self-center" role="alert">
        {% elif message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade show align-self-center" role="alert">
        {% elif message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show align-self-center" role="alert">
          {% else %}
          <div class="alert alert-primary alert-dismissible fade show align-self-center" role="alert">
            {% endif %}
            <ul>
              <li>{{ message }}</li>
            </ul>
      
      
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          
        </div>
        {% endfor %}
{% endif %}