{% load static from staticfiles %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></button>
    <a class="navbar-brand ml-2" href="#"><img src="{% static '/gedulle_logo.png' %}" width="150px" alt=""><img src="{% static '/Logo-SEC-x2.png' %}" class="ml-5" width="300px" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username }}
          </a>
          <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
                <div class="dropdown">
                  <div class="dropdown-menu">
                      <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                  </div>
                </div>
            </form>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:signup' %}">Registrarse</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Iniciar Sesión</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>