<a href="#" class="list-group-item list-group-item-action bg-light">Inicio</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Mi Horario</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Mis Tareas</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Mis Calificaciones</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Eventos</a>