<a href="#" class="list-group-item list-group-item-action bg-light">Inicio</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Horario</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Materias</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Grupos</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Reuniones</a>