<a href="{% url 'inicio' %}" class="list-group-item list-group-item-action bg-light">Inicio</a>
<a href="{% url 'horarios' %}" class="list-group-item list-group-item-action bg-light">Horarios</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Eventos</a>