<a href="{% url 'inicio' %}" class="list-group-item list-group-item-action bg-light">Inicio</a>

<a href="{% url 'mi_horario' %}" class="list-group-item list-group-item-action bg-light">Mi Horario</a>
<a href="#horarioSubmenu" data-toggle="collapse" aria-expanded="false"
    class="list-group-item list-group-item-action bg-light dropdown-toggle">Horarios</a>
<ul class="list-group-item list-group-item-action bg-light collapse list-unstyled" id="horarioSubmenu">
    <li>
        <a href="{% url 'horarios' %}" class="list-group-item list-group-item-action bg-light">Lista Horarios</a>
    </li>
    <li>
        <a href="{% url 'crear_horario' %}" class="list-group-item list-group-item-action bg-light">Crear Registro Horario</a>
    </li>
</ul>

<a href="#usuarioSubmenu" data-toggle="collapse" aria-expanded="false"
    class="list-group-item list-group-item-action bg-light dropdown-toggle">Usuarios</a>
<ul class="list-group-item list-group-item-action bg-light collapse list-unstyled" id="usuarioSubmenu">
    <li>
        <a href="{% url 'accounts:user_list'%}" class="list-group-item list-group-item-action bg-light">Lista Usuarios</a>
    </li>
    <li>
        <a href="{% url 'accounts:signup'%}" class="list-group-item list-group-item-action bg-light">Registrar Usuario</a>
    </li>
</ul>
<a href="#materiaSubmenu" data-toggle="collapse" aria-expanded="false"
    class="list-group-item list-group-item-action bg-light dropdown-toggle">Materias</a>
<ul class="list-group-item list-group-item-action bg-light collapse list-unstyled" id="materiaSubmenu">
    <li>
        <a href="{% url 'crear_materia'%}" class="list-group-item list-group-item-action bg-light">Registrar Materia</a>
    </li>
    <li>
        <a href="{% url 'lista_materias'%}" class="list-group-item list-group-item-action bg-light">Lista Materias</a>
    </li>
</ul>

<a href="#grupoSubmenu" data-toggle="collapse" aria-expanded="false"
    class="list-group-item list-group-item-action bg-light dropdown-toggle">Grupos</a>
<ul class="list-group-item list-group-item-action bg-light collapse list-unstyled" id="grupoSubmenu">
    <li>
        <a href="{% url 'lista_grupos'%}" class="list-group-item list-group-item-action bg-light">Lista Grupos</a>
    </li>
    <li>
        <a href="{% url 'crear_grupo'%}" class="list-group-item list-group-item-action bg-light">Crear Grupo</a>
    </li>
</ul>
<a href="{% url 'lista_alumnos'%}" class="list-group-item list-group-item-action bg-light">Lista Alumnos</a>
<a href="{% url 'lista_padres' %}" class="list-group-item list-group-item-action bg-light">Lista Padres</a>
<a href="{% url 'lista_profesores'%}" class="list-group-item list-group-item-action bg-light">Lista Profesores</a>

<a href="#excursionSubmenu" data-toggle="collapse" aria-expanded="false"
    class="list-group-item list-group-item-action bg-light dropdown-toggle">Excursion</a>
<ul class="list-group-item list-group-item-action bg-light collapse list-unstyled" id="excursionSubmenu">
    <li>
        <a href="#" class="list-group-item list-group-item-action bg-light">Lista Excursiones</a>
    </li>
    <li>
        <a href="#" class="list-group-item list-group-item-action bg-light">Crear Excursion</a>
    </li>
</ul>
<a href="#reunionSubmenu" data-toggle="collapse" aria-expanded="false"
    class="list-group-item list-group-item-action bg-light dropdown-toggle">Reunion</a>
<ul class="list-group-item list-group-item-action bg-light collapse list-unstyled" id="reunionSubmenu">
    <li>
        <a href="#" class="list-group-item list-group-item-action bg-light">Lista Reuniones</a>
    </li>
    <li>
        <a href="#" class="list-group-item list-group-item-action bg-light">Programar Reunion</a>
    </li>
</ul>
<a href="{% url 'calendario' %}" class="list-group-item list-group-item-action bg-light">Calendario Escolar</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Galeria de Fotos</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Chat</a>
