{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Index Cuentas
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}
<ul>
{% foreach user in users %}
<li>{{user.username}}</li>
{% endforeach %}
</ul>


{% endblock %}

{% block scripts %}

{% endblock %}