{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Editar Perfil
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}
  <h1>Usuario: {{ user.username }}</h1>
  <h3>{{user.nombre}} {{user.ap_pat}} {{user.ap_pat}}</h3>

  <form method="POST" action="{% url 'accounts:account_update' %}">
        {% csrf_token %}
     {{ form | bootstrap }}
     
     <button class="btn btn-primary" type="submit">Registrar</button>
     
     </form>

{% endblock %}

{% block scripts %}

{% endblock %}