{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Lista Horarios
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}


  {% include 'messages.html' %}
  <table class="table text-center table-hover">
      <thead>
          <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
        <th scope="col">acciones</th>
            </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.nombre }}</td>
            <td>{{ user.ap_pat }} {{ user.ap_mat }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.correo }}</td>
            <td>
                <ul>
                {% if user.is_student %}
                <li>Estudiante</li>
                {% endif%}
                {% if user.is_teacher %}
                <li>Profesor</li>
                {% endif%}

                {% if user.is_parent %}
                <li>Padre/Tutor</li>
                {% endif %}
                </ul>


            </td>
            <td>
                <div class="container d-flex justify-content-center">
                <form action = "." method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <button class="btn btn-danger" formaction="{% url 'accounts:delete_user' %}"><i class="fa fa-trash"></i></button>
                
                
            </form>
            <form action = "." method="GET">
                    <input type="hidden" name="username" value="{{ user.username }}">
                    <button class="btn btn-success" formaction="{% url 'accounts:account_update' %}"><i class="fa fa-pen"></i></button>
                
            </form>
            </td>
        </div>
        </tr>
        {% endfor %}
    </tbody>
  </table>



{% endblock %}

{% block scripts %}

{% endblock %}