{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap %}

{% block subtitle %}
Iniciar Sesión
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

<h1>Iniciar Sesión</h1>


  {% include 'messages.html' %}

  <form method="POST" action="{% url 'accounts:login' %}">
      {% csrf_token %}
   {{ form | bootstrap }}
   
   <button class="btn btn-primary" type="submit">Registrar</button>
   
   </form>

{% endblock %}

{% block scripts %}

{% endblock %}